/* @import-normalize; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {

  input {
    border-width: 1px;
    @apply bg-white;
    font-size: 0.875rem;
    line-height: 1.5715;
    @apply text-slate-800;
    border-radius: 0.25rem;
  }

  .btn {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: transparent;
    font-size: 0.875rem;
    line-height: 1.5715;
    font-weight: 500;
    line-height: 1.25rem;
    @apply shadow-sm;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter, -webkit-backdrop-filter;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-primary {
    @apply text-white;
    @apply bg-indigo-500;
  }

  .input,
  .select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
  }

  .checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    --tw-shadow: 0 0 #0000;
  }
}

@layer utilities {
    .text-3xl {
        font-size: 1.88rem;
        line-height: 1.33;
        letter-spacing: -0.01em;
    }

  .input,
  .select,
  .checkbox {
    @apply border;
    @apply border-white;
  }
  .input,
  .select,
  .checkbox {
    border-radius: 0.25rem;
  }

  .input,
  .select {
    @apply border-slate-200;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5715;
    line-height: 1.25rem;
    @apply text-slate-800;
    @apply shadow-sm;
  }

  .input:focus,
  .select:focus {
    @apply outline-none;
    @apply ring-0;
    @apply ring-offset-slate-800;
  }

  .input:focus,
  .select:focus {
    @apply shadow-none;
    --tw-ring-offset-width: 0px;
  }

  .input:focus {
    @apply border-slate-300;
  }

  .input:hover,
  .select:hover {
    @apply border-slate-300;
  }

  .checkbox, .radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #2563eb;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    --tw-shadow: 0 0 #0000;
}

.checkbox, .radio {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(203 213 225/var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgb(99 102 241/var(--tw-text-opacity));
}

.checkbox:checked, .radio:checked {
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox:checked {
    background-image: url(data:image/svg+xml,%3csvg\ viewBox=\'0\ 0\ 16\ 16\'\ fill=\'white\'\ xmlns=\'http://www.w3.org/2000/svg\'%3e%3cpath\ d=\'M12.207\ 4.793a1\ 1\ 0\ 010\ 1.414l-5\ 5a1\ 1\ 0\ 01-1.414\ 0l-2-2a1\ 1\ 0\ 011.414-1.414L6.5\ 9.086l4.293-4.293a1\ 1\ 0\ 011.414\ 0z\'/%3e%3c/svg%3e);
}

.checkbox:checked, .radio:checked {
    @apply bg-indigo-500;
}

.checkbox:checked:hover, .checkbox:checked:focus, .radio:checked:hover, .radio:checked:focus {
    border-color: transparent;
    background-color: currentColor;
}

}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

